@import './base.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
:root {
  --color-text: black;
}

body {
  background-color: white;
  color: black;
}

#app {
  width: 100%;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: black;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
